  <ons-page id="home.view">
    <div class="main-grid">
        <ons-row class="row-grid">
            <ons-col width="50%" ng-click="go('1')">
                <div class="item-content" style="background:url('assets/img/grid/body_building.png')">
                 <div class="og-content">
                  <div class="ico-building"></div>
                    <h5>Bodybuilding</h5>
                 </div>
                </div>
            </ons-col>
            <ons-col width="50%">
                <div class="item-content" style="background:url('assets/img/grid/run.png')">
                <div class="og-content">
                    <div class="ico ico-run"  size="40px"></div>
                    <h5>Run</h5>
                </div>
                </div>
            </ons-col>
        </ons-row>
             <ons-row class="row-grid">
            <ons-col width="50%">
                <div class="item-content" style="background:url('assets/img/grid/workout.png')">
                 <div class="og-content">
                   <div class="ico-workout"></div>
                    <h5>Workout</h5>
                 </div>
                </div>
            </ons-col>
            <ons-col width="50%">
                <div class="item-content"  style="background:url('assets/img/grid/recipes.png')" >
                 <div class="og-content">
                   <div class="ico-recipe"></div>
                    <h5>Recipes</h5>
                 </div>
                </div>
            </ons-col>
        </ons-row>
             <ons-row class="row-grid">
            <ons-col width="50%">
                <div class="item-content" style="background:url('assets/img/grid/friendss.png')">
                 <div class="og-content">
                   <div class="ico-friends"></div>
                    <h5>Friends</h5>
                 </div>
                </div>
            </ons-col>
            <ons-col width="50%">
                <div class="item-content" style="background:url('assets/img/grid/profile.png')">
                 <div class="og-content">
                    <div class="ico-profile"></div>
                    <h5>Profile</h5>
                    </div>
                </div>
            </ons-col>
        </ons-row>
              <ons-row class="row-grid">
            <ons-col width="50%">
                <div class="item-content" style="background:url('assets/img/grid/programs.png')">
                 <div class="og-content">
                   <div class="ico-programs"></div>
                    <h5>Programs</h5>
                 </div>
                </div>
            </ons-col>
            <ons-col width="50%">
                <div class="item-content"  style="background:url('assets/img/grid/appoinement.png')" >
                 <div class="og-content">
                    <div class="ico-appoinment"></div>
                    <h5>Appoinement</h5>
                 </div>
                </div>
            </ons-col>
        </ons-row>
    </div>
</ons-page>